#title{
    width: 360px;
    margin-top: 80px;
}

header{
    background-image: url("../img/pattern.png");
    height: 180px;
    background-color: rgb(0, 183, 255);
}

h1{
    font-size: 55px;
    margin: 1px;
}

a{
    text-decoration: none;
}

h2{
    margin: 1px;
    color: darkgray;
}

h5{
    margin-top: 1px;
    color: darkgray;
}

h6{
    margin: 1px;
}

div{
    margin: 1px;
}

ul{
    margin: 1px;
    padding: 15px;
}

th{
    text-align: left;
    background-color: rgb(0, 157, 255);
    color: white;
}

.colonna3{
    width: 50%;
    text-align: left;
}

.riga2{
    background-color: rgba(127, 253, 255, 0.778);
}

span{
    background-color: yellow;
}

.image1{
    background-image: url(../img/monitor.jpg);
    height:200px;
    background-repeat: no-repeat;
    margin: 10px auto 10px auto;
}

.image2{
    background-image: url(../img/graph.jpg);
    height:200px;
    background-repeat: no-repeat;
    margin: 10px auto 10px auto;
}   

